
main .block.cards {
  margin: 0 auto 3.75rem;
}

.cards > ul {
  display: flex;
  list-style: none;
  flex-flow: column nowrap;
  padding: 0;
  padding-inline-start: 0;
}

.cards > ul > li {
  padding: 0;
  box-sizing: border-box;
  box-shadow: 0 2px 12px 0 rgb(60 70 80 / 20%);
  border: none;
  transition: all 0.15s ease-in-out;
  margin: 0 0 1.5rem;
  align-items: center;
  text-align: left;
  flex: 1;
  background-color: var(--white);
}

.cards > ul > li:hover {
  box-shadow: 0 4px 1rem 0 rgb(60 70 80 / 40%);
}

.cards > ul > li .date {
  font-size: var(--body-font-size-s);
  padding-bottom: 0.25rem;
  color: var(--gray);
}

.cards > ul > li > a.button {
  margin: 0;
  height: 100%;
  color: var(--card-text-color);
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  border: 0;
  background: none;
  white-space: normal;
  font-size: var(--body-font-size-s);
  border-radius: 0;
  line-height: 21px;
  letter-spacing: 0;
  width: 100%;
  flex-direction: row;
  display: flex;
  padding: 0;
}

.cards.no-padding > ul > li > a.button {
  padding: 0;
  flex-direction: column;
}

.cards.video-modal > ul > li > a.button {
  flex-direction: column;
}

.cards > ul > li > a {
  text-decoration: none;
}

.cards.video-modal a.button.video-link {
  padding: 0;
}

.cards > ul > li > a:hover {
  text-decoration: none;
  background-color: initial;
}

.cards .cards-card-body {
  margin: 0 auto;
  text-align: left;
  color: var(--light-black);
}

.cards.stacked-cards .cards-card-body{
  margin: revert;
}


.cards.video-modal .cards-card-body {
  text-align: center;
}

.cards.info-points .cards-card-body {
  text-align: center;
}

.cards .cards-card-body .title {
  margin-bottom: 1rem;
  font-size: var(--body-font-size-l);
  color: var(--gray-dark);
}

.cards.large-text .cards-card-body .date {
  font-size: var(--body-font-size-xs);
}

.cards.large-text .cards-card-body .title {
  font-size: var(--body-font-size-m);
  margin-bottom: 3rem;
}

.cards .cards-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0%;
}

.cards .cards-card-image span.icon,
.cards .cards-card-image span.icon svg {
  width: 100%;
  height: 100%;
}


.cards.light-background .cards-card-image span.icon svg {
  width: 7rem;
  height: 7rem;
  margin-top: 1rem;
}

.cards.no-shadow > ul > li {
  box-shadow: none;
}

main .cards.info-points > ul > li {
  display: flex;
  box-shadow: none;
}

main .cards.features-items ul > li {
  align-items: flex-start;
}

main .block.cards.light-background ul > li{
  padding: 1rem;
  background-color: var(--transparent-blue-light-color);
  margin-block: 1.5rem;
  border-bottom: none;
  margin: 0;
}

.cards .cards-card-body u {
  text-decoration: none;
}

.cards .cards-card-image {
  height: 12.5rem;
  margin: 0;
  padding: 0;
}

.cards.no-padding .cards-card-image {
  width: 100%;
}

.cards.no-padding picture {
  width: 100%;
}

.cards.video-modal .cards-card-image {
  height: auto;
  width: 100%;
}

.cards .cards-card-body div {
  height: 100%;
  margin: 0;
}

.cards .cards-card-body div:last-child {
  margin-bottom: 0;
}

/* Styles for features-items cards */
main .cards.features-items h6 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Styles for toc-content cards */
.cards.toc-content .cards-card-body {
  padding: 0.75rem 1rem 1rem;
}

.cards.toc-content .cards-card-body h1,
.cards.toc-content .cards-card-body h2,
.cards.toc-content .cards-card-body h3,
.cards.toc-content .cards-card-body h4,
.cards.toc-content .cards-card-body h5,
.cards.toc-content .cards-card-body h6,
.cards.toc-content .cards-card-body p {
  margin: unset;
}

.cards.toc-content .cards-card-image {
  height: unset;
}

/* Styles for info points cards */
main .cards.info-points .cards-card-body * {
  text-align: left;
}

main .cards.info-points .cards-card-body h1,
main .cards.info-points .cards-card-body h2,
main .cards.info-points .cards-card-body h3,
main .cards.info-points .cards-card-body h4,
main .cards.info-points .cards-card-body h5,
main .cards.info-points .cards-card-body h6 {
  margin-bottom: 1.5rem;
}

main .section.cards-container:has(.cards.info-points) h2 {
  font-size: var(--heading-font-size-m);
  text-align: left;
  margin-bottom: 2rem;
}

main .cards.info-points .cards-card-body h4 {
  font-size: var(--heading-font-size-mxs);
  font-weight: var(--font-weight-bold);
  margin-top: 0;
  margin-bottom: 1rem;
}

main .cards.info-points .cards-card-body p {
  font-size: var(--body-font-size-s);
}

main .cards.info-points > ul {
  flex-direction: column;
}

main .cards.info-points > ul > li:hover {
  box-shadow: none;
}

main .cards.info-points .cards-card-image img {
  width: 5rem;
  height: 5rem;
}

main .cards.stacked-cards .cards-card-image {
  width: 16rem;
  height: 9rem;
  flex-shrink: 0;
}

.cards.no-padding .cards-card-body {
  padding: .5rem;
  display: flex;
  flex-direction: column;
}

main .cards.stacked-cards .cards-card-body {
  width: 100%;
}

/* stylelint-disable-next-line no-descending-specificity */
main .cards.stacked-cards .cards-card-body h1,
main .cards.stacked-cards .cards-card-body h2,
main .cards.stacked-cards .cards-card-body h3,
main .cards.stacked-cards .cards-card-body h4,
main .cards.stacked-cards .cards-card-body h5,
main .cards.stacked-cards .cards-card-body h6,
main .cards.stacked-cards .cards-card-body p {
  text-align: left;
  text-transform: none;
}

main .cards.stacked-cards .cards-card-body h6 {
  font-size: var(--heading-font-size-xxxs);
  margin-bottom: none;
  letter-spacing: 0.05em;
  font-weight: var(--font-weight-medium);
  color: var(--primary);
}

main .cards.stacked-cards .cards-card-body img {
  height: 2rem;
}

main .cards.stacked-cards .cards-card-body p {
  font-size: var(--body-font-size-m);
  margin-bottom: 1rem;
  color: var(--light-black);
}

main .cards.stacked-cards .cards-card-body p:last-child {
  margin-bottom: 0;
}

main .cards.stacked-cards .cards-card-body a {
  line-height: 1;
  width: 100%;
  font-weight: var(--font-weight-medium);
  font-size: var(--body-font-size-m);
  text-decoration: none;
}

main .cards.stacked-cards .cards-card-body a > strong {
  color: var(--light-black);
  margin-right: 1rem;
}

/* stylelint-disable-next-line no-descending-specificity */
main .cards.stacked-cards ul > li {
  padding: 0;
  box-shadow: none;
  display: flex;
}

main .nolink .cards > ul > li .cards-card-image {
  height: 135px;
  width: 240px;
  display: flex;
  align-self: flex-start;
  padding: 0;
  justify-content: center;
  overflow: hidden;
  flex-shrink: 0;
  border: 1px solid #3C46501A;
}

main .nolink .cards.no-padding > ul > li .cards-card-image {
  height: 250px;
  width: 100%;
  margin: 0;
}

main .nolink .cards.info-points > ul > li .cards-card-image {
  width: auto;
  border: none;
}

main .cards-wrapper .stacked-cards .cards-card-body h3{
  margin-block-start: 0;
  margin-block-end: 0;
  color: var(--light-black);
  font-size: var(--heading-font-size-m);
  font-weight: var(--font-weight-bold);
  line-height: 2rem;
  width: 100%;
  padding-bottom: 1rem;
}

main .cards.no-padding > ul {
  justify-content: space-between;
}

.cards.nolink.no-buttons.stacked-cards.block > ul {
  flex-flow: column;
}

/* stylelint-disable-next-line no-descending-specificity */
main .cards.video-modal .cards-card-image {
  position: relative;
}

main .cards.video-modal .cards-card-image::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 5.25rem;
  width: 5.25rem;
  background-image: url("../../icons/play.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: auto;
  box-shadow: 0 2px 12px 0 #3C465033;
  border-radius: 50%;
}

@media screen and (min-width: 48rem) {
  .cards > ul > li {
    margin: 0 7px;
    flex: 0 0 calc(25% - 14px); /* 4 cards per row (-14px for margins) */
    width: 100%;
  }

  .cards.no-padding > ul > li {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 calc(30%); /* 3 cards per row */
    width: 100%;
  }

  .cards > ul > li:nth-child(n + 5) {
    margin-top: 1rem;
  }

  .cards.grid > ul > li {
    margin: 0 0 1rem;
  }

  .cards > ul {
    flex-flow: row wrap;
  }

  .cards.grid > ul {
    flex-flow: column nowrap;
  }
}

@media screen and (min-width: 62rem) {
  .section.cards-container:has(.cards-wrapper .cards.info-points) {
    margin: 8rem 0;
  }

  .section.cards-container h2 {
    margin:0;
  }

  main .block.cards {
    padding-left: 0;
    padding-right: 0;
  }

  .cards.grid > ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 16.875rem);
    justify-content: space-between;
    grid-gap: 2rem;
  }

  .cards.grid.two-columns > ul {
    grid-template-columns: repeat(2, 16.875rem);
    justify-content: center;
  }

  .cards > ul > li {
    padding: 0;
    text-align: center;
  }

  .cards > ul > li > a.button {
    padding: 1rem 6px 0;
    display: block;
  }

  .cards .cards-card-body {
    width: initial;
    margin: 0;
  }

  .cards .cards-card-image {
    margin: auto;
  }

  .cards.stacked-cards .cards-card-image {
    margin: 0;
  }

  /* Style for features-items cards */
  main .cards.features-items ul > li {
    width: 16.5rem;
    align-items: center;
  }

  main .cards.features-items p {
    margin: 0 auto;
    font-size: 14px;
    color: var(--transparent-grey-color-2);
  }
}

@media screen and (max-width: 77rem) {
  main .cards.stacked-cards .cards-card-image {
    width: 100%;
    height: 100%;
    padding-top: 2rem;
  }

  main .nolink .cards > ul > li .cards-card-image {
    height: auto;
    width: auto;
  }

  .cards.image-fit-contain .cards-card-image img {
    object-fit: contain;
  }

  main .block.cards.stacked-cards > ul > li{
    flex-direction: column;
    text-align: center;
  }

  .cards .nolink .no-buttons .stacked-cards .block {
    padding: 0;
  }

  main .section .nolink h2 {
    font-size: var(--heading-font-size-l);
  }

}


@media screen and (min-width: 77rem) {
  .cards.grid > ul {
    grid-template-columns: repeat(auto-fill, 21.875rem);
    justify-content: space-between;
    grid-gap: 3rem;
  }

  .cards > ul > li {
    margin: 0 1rem;
    flex: 0 0 calc(25% - 2rem); /* 4 cards per row (-2rem for margins) */
    width: 100%;
  }

  .cards.no-padding > ul > li {
    flex: 0 0 calc(30%); /* cards per row */
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cards.no-padding > ul > li picture {
    flex-basis: 100%;
  }

  .cards > ul > li:first-of-type,
  .cards > ul > li:nth-of-type(4n + 1) {
    margin-left: 0;
  }

  .cards > ul > li:last-of-type,
  .cards > ul > li:nth-of-type(4n) {
    margin-right: 0;
  }

  .cards > ul > li:nth-of-type(n + 5) {
    margin-top: 1rem;
  }

  .cards > ul > li > a.button {
    padding: 0;
  }

  .cards.large-text .cards-card-body .date {
    font-size: var(--body-font-size-s);
  }

  .cards.large-text .cards-card-body .title {
    font-size: 20px;
  }

  .cards .cards-card-body {
    font-size: 1rem;
    padding: 20px;
  }

  .cards.stacked-cards .cards-card-body {
    padding: 1.5rem 1rem;
  }

  main .cards.info-points .cards-card-body * {
    text-align: center;
  }

  main .cards.info-points .cards-card-body h4 {
    font-size: var(--heading-font-size-s);
    font-weight: var(--font-weight-medium);
    margin-top: 2rem;
    margin-inline: 3rem;
  }

  main .cards.info-points > ul {
    flex-direction: row;
  }

  main .cards.info-points > ul > li {
    display: block;
  }

  .cards.grid.two-columns > ul {
    grid-template-columns: repeat(2, 21.875rem);
  }

  .cards.image-fit-contain .cards-card-image img {
    object-fit: contain;
  }

  main .cards.info-points .cards-card-image img {
    width: 100%;
    height: 100%;
  }

  main .section.cards-container:has(.cards.info-points) h2 {
    font-size: var(--heading-font-size-mxl);
    text-align: center;
  }

  main .block.cards.stacked-cards > ul > li {
    display: flex;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: auto;
    height: 12.1875rem;
    flex: 1;
    margin: 0;
  }

  main .block.cards.stacked-cards:not(.light-background) ul > li{
    border-bottom: 1px solid var(--text-h2-underline-color);
  }

  main .block.cards.stacked-cards > ul > li .cards-card-body p,
  main .block.cards.stacked-cards > ul > li .cards-card-body a {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 0.5rem;
    align-self: flex-start;
  }

}
