.columns {
  margin: 2rem 0;
}

.columns.small-margin {
  margin: 2rem 0 0;
}

.columns p,
.columns dl,
.columns ol,
.columns ul,
.columns pre,
.columns blockquote {
  margin-bottom: 1.5rem;
}

.columns.invert-image-order-in-narrow-view,
.columns.invert-even-col-in-narrow-view {
  margin-bottom: 0;
}

.columns > div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 4rem;
}

.columns > div > div {
  order: 1;
}

.columns > div > div > div {
  width: auto;
}

.columns.small-margin > div {
  margin-bottom: 1.25rem;
}

.columns:not(.native-image-sizes) img,
.columns:not(.native-image-sizes) div.image-collage.autoblocked {
  width: 100%;
}

.columns h2,
.columns h3,
.columns h4 {
  font-size: var(--heading-font-size-m);
  font-weight: var(--font-weight-medium);
  line-height: 1.3em;
  margin: 0 auto 1rem;
}

.columns :not(.table) h4 {
  font-size: var(--heading-font-size-mxs);
}

.columns :not(.table) h3 {
  font-size: var(--heading-font-size-ms);
}

.columns.plain-links a.button {
  padding: 0;
}

.columns a.button.tertiary {
  background-color: unset;
  color: var(--tertiary);
  justify-content: flex-start;
  padding: 0;
}

.columns a.button.primary.video-link::after {
  content: url("../../icons/play.svg");
  position: relative;
  top: 0.1rem;
  left: 0.3rem;
}

.columns > div > .img-col {
  order: 0;
}

.columns.invert-image-order-in-narrow-view > div .img-col {
  order: 2;
}

.columns .text-col-wrapper img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.columns.crop-image img {
  object-fit: cover;
  height: 100%;
}

.columns > div > .img-col img {
  display: block;
}

.columns > div > div p {
  margin-top: 0;
}

.columns.crop-image > div {
  align-items: stretch;
}

.columns.constrain-width > div > div.img-col {
  margin: 0 1rem;
}

.columns.top-down {
  margin: 40px 0 0;
}

.columns.top-down > div {
  align-items: flex-start;
  gap: 1rem;
}

.columns.top-down.columns-2-cols {
  max-width: 790px;
}

.columns.top-down.columns-3-cols {
  max-width: 1200px;
}

.columns.plain-links > div > div,
.columns.plain-links > div > div p {
  font-size: var(--body-font-size-s);
  margin-left: 0;
}

.columns.text-layout > div > div h2 {
  font-size: var(--heading-font-size-mxl);
  margin: 0;
}

.columns.text-layout > div > div > div {
  font-size: var(--body-font-size-l);
}

.columns.invert-even-col-in-narrow-view > div:nth-child(even) {
  flex-direction: column-reverse;
}

.columns div.img-col.video-modal p {
  position: relative;
}

.columns div.img-col.video-modal a::after {
  display: block;
  position: absolute;
  content: '';
  background: url("../../icons/play.svg") no-repeat center;
  background-size: cover;
  height: 5.25rem;
  width: 5.25rem;
  border-radius: 50%;
  top: calc(50% - 5.25rem / 2);
  left: calc(50% - 5.25rem / 2);
}

.columns > div > div *:last-child {
  margin-bottom: 0;
}

.columns.plain-links > div h6 {
  border-bottom: 1px var(--transparent-grey-light-color) solid;
  font-size: 1rem;
  line-height: 1.5;
  padding-bottom: 0.5rem;
  text-transform: unset;
}

.columns.plain-links.collapse > div h6 {
  color: var(--text-color);
  padding-bottom: 0.5rem;
  margin: 0 0 1rem;
  position: relative;
}

.columns.top-down.collapse {
  margin: 0;
}

.columns.top-down.collapse > div {
  gap: 0;
}

.columns.text-center > div div.text-col p,
.columns.text-center > div div.text-col h2,
.columns.text-center > div div.text-col h3,
.columns.text-center > div div.text-col h4,
.columns.text-center > div div.text-col h5,
.columns.text-center > div div.text-col h6 {
  text-align: center;
}

.columns.text-and-image-in-column > div div.text-col {
  margin: 0;
  padding: 0 1rem;
}

.columns.text-and-image-in-column.overlap > div > div div.text-col {
  position: relative;
  padding: unset;
  margin: unset;
}

.columns.text-and-image-in-column > div div.text-col img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.columns:not(.no-padding) > div div.non-singleton-img {
  margin: 0 1rem;
}

.columns div.image-collage.autoblocked picture ~ *.image-caption {
  color: var(--steel-blue);
  font-size: var(--body-font-size-s);
  margin: 1rem 0;
}

div.img-col > video {
  width: 100%;
}

.columns p.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.columns.centre-buttons p.button-container {
  justify-content: center;
} 

.columns.collapse.top-down.columns-2-cols {
  max-width: 100%;
}

.columns.text-and-image-in-column.overlap > div {
  margin-bottom: 1.5rem;
  align-items: center;
  flex-direction: unset;
}

.columns.text-and-image-in-column.overlap > div > div {
  flex: 1;
}

.columns.plain-links.collapse > div > div, .columns.plain-text.collapse > div > div {
  width: 100%;
}

.columns:not(.no-padding) > div > div:not(.columns-img-col) div:not(.img-col),
.columns:not(.no-padding) > div.img-col-wrapper > div.image-collage.autoblocked,
.columns:not(.no-padding) > div > div.img-col-wrapper {
  padding: 0 1rem;
}

.columns.plain-links.collapse:not(.continuation) > div > div:first-child {
  margin-top: 3rem;
}

.columns.plain-links.collapse.collapse-without-top-margin:not(.continuation) > div > div:first-child {
  margin-top: 0;
}

.columns.plain-links.collapse > div h6::after, .columns.plain-text.collapse > div h6::after {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(0deg);
  background-image: url("/icons/arrow-down-blue.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: ease 0.2s;
}

.columns.plain-links.collapse > div h6.active::after, .columns.plain-text.collapse > div h6.active::after  {
  transform: translateY(-50%) rotate(-180deg);
}

.columns.plain-links > div li {
  list-style: none;
  padding-bottom: 1rem;
  box-sizing: border-box;
}

.columns.plain-links > div a {
  font-size: var(--body-font-size-s);
  color: var(--secondary);
}

/* stylelint-disable-next-line no-descending-specificity */
.columns.plain-text > div > div {
  font-size: var(--body-font-size-s);
  background: rgb(0 88 124 / 10%);
  margin-bottom: 3px;
}

/* stylelint-disable-next-line no-descending-specificity */
.columns.plain-text h6 {
  color: var(--secondary);
}

/* stylelint-disable-next-line no-descending-specificity */
.columns.plain-text.collapse > div h6 {
  position: relative;
  line-height: 1rem;
  padding: 0 0.5rem;
}

/* stylelint-disable-next-line no-descending-specificity */
.columns.plain-text:not(.no-padding) > div > div {
  padding: 0.5rem;
}

/* stylelint-disable-next-line no-descending-specificity */
.columns.plain-text.top-down.collapse > div {
  gap: 0;
}

.columns.plain-links a.button.primary {
  display: inline-block;
  font-weight: var(--font-weight-medium);
  background-color: unset;
  color: var(--secondary);
}

/* stylelint-disable-next-line no-descending-specificity */
.columns.plain-links.collapse ul, .columns.plain-text.collapse p {
  display:none;
}

.columns.plain-links.collapse ul.active, .columns.plain-text.collapse p.active {
  display: block;
}

.columns-container.backgroundimage .backgroundimage {
  display: none;
}

.columns.block.padding.columns-2-cols > div > div.text-col-wrapper {
  padding: 2rem 0;
}

/* Text-image overlap View */
.columns.text-and-image-in-column.overlap em a {
  display: inline-flex;
  width: 100%;
  font-size: var(--body-font-size-xl);
  color: var(--secondary);
  border: 1px solid var(--secondary);
  background-color: var(--white);
  padding: 1rem 0;
  font-weight: var(--font-weight-bold);
  font-style: normal;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  border-radius: 2px;
}

.columns.text-and-image-in-column.overlap .button-container {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0;
  width: 100%;
}

.columns.text-and-image-in-column.overlap .button-container a {
  background-color: unset;
  color: var(--secondary);
  font-size: var(--body-font-size-m);
  padding: unset;
  display: block;
  margin: 0 -1.25rem;
}

.columns.text-and-image-in-column.overlap em a:hover {
  color: var(--white);
  background-color: var(--link-blue-color);
  border-color: var(--link-blue-color);
}

.columns.text-and-image-in-column.overlap .button-container a:hover {
  text-decoration: underline;
}

@media (min-width: 62rem) {
  .columns h2,
  .columns:not(.no-buttons) h3,
  .columns:not(.no-buttons) h4 {
    font-size: var(--heading-font-size-ml);
    font-weight: var(--font-weight-small);
    margin: 0 auto 1.5rem;
  }

  .columns h6 {
    margin-top: unset;
  }

  .columns > div {
    flex-direction: unset;
    align-items: center;
    gap: 3rem;
    margin-bottom: 7.5rem;
  }

  .collapse > div {
    flex-direction: column;
  }

  .columns p.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    width: unset;
  }

  .columns.centre-buttons p.button-container {
    align-items: center;
    flex-direction: row;
  } 

  .columns a.button.primary {
    min-width: 11rem;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
    flex-basis: 50%;
  }

  .columns.flex-start > div {
    flex-direction: unset;
    align-items: flex-start;
    gap: 3rem;
    margin-bottom: 5rem;
  }

  .columns.small-margin > div {
    margin-bottom: 1.5rem;
  }

  .columns.top-down.collapse > div {
    gap: 1.5rem;
  }

  .columns > div .img-col {
    order: unset;
  }

  .columns.invert-image-order-in-narrow-view > div .img-col,
  .columns.invert-even-col-in-narrow-view > div:nth-child(even) .img-col {
    order: unset;
  }

  .columns.plain-links > div a {
    font-size: var(--body-font-size-m);
    line-height: 1.2;
  }

  .columns.plain-links.collapse ul, .columns.plain-text.collapse p {
    display: none;
  }

  .columns:not(.text-and-image-in-column) .text-col-wrapper img:not(.video-modal) {
    height: 3.125rem;
    width: unset;
  }

  .columns-container.backgroundimage {
    position: relative;
  }

  .columns-container.backgroundimage .section-container {
    position: relative;
    z-index: 1;
  }

  .columns-container.backgroundimage .backgroundimage {
    position: absolute;
    display: block;
    width: 100%;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  main .columns.invert-even-col-in-narrow-view > div:nth-child(even) {
    flex-direction: row;
  }

  div.img-col > video {
    height: 337px;
    width: 337px;
  }

  .columns:not(.no-padding) > div > div:not(.columns-img-col) div:not(.img-col) {
    padding: 1rem 0;
  }

  .columns.text-and-image-in-column.overlap .button-container a {
    font-size: var(--body-font-size-xl);
    margin: 0 1rem;
  }

  .columns :not(.table) h4 {
    font-size: var(--heading-font-size-ms);
  }

  .columns :not(.table) h3 {
    font-size: var(--heading-font-size-m);
  }
}

@media (min-width: 77rem) {
  div.img-col > video {
    height: 469px;
    width: 469px;
  }

  .columns p.button-container {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    gap: 1rem;
    width: 100%;
  }
}
