main .table span.icon {
    width: 1.25rem;
    height: 1.25rem;
    margin-bottom: 0.3125rem;
    margin-left: 0.3125rem;
}

main .table img {
    height: 80px;
    width: auto;
}

main .table.native-image-sizes img {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

main .table.block h3.table-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

main .section .table.block p.table-annotation {
    margin-bottom: 1.5rem;
}

main .table table {
    background-color: var(--white);
    border-collapse: collapse;
    overflow-x: auto;
    display: block;
    padding-bottom: 1.5rem;
}

main .table .table-item {
    display: unset;
    margin-bottom: unset;
    border: unset;
}

main .table .table-item div {
    padding: unset;
}

main .table:not(.text-table) table td {
    font-size: 0.88rem;
    line-height: 1.7em;
    text-align: left;
    padding: 0.5em 1em;
    border: 1px solid var(--transparent-grey-light-color);
    vertical-align: middle;
    width: 50%;
}

main .table table td p {
    font-size: 0.88rem;
    line-height: 1.7em;
    margin-bottom: 0;
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-text-size-adjust: none;
}

main .table.fixed .table-item {
    display: inline-grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(var(--col), auto);
    grid-template-rows: repeat(var(--row), auto);
}

main .table.fixed .table-item div {
    padding: 0.5em 1em;
}

main .table .table-item .table-head {
    text-align: left;
    background: var(--transparent-blue-light-color);
}

main .table.fixed .table-item .table-head {
    text-align: center;
}

main .table .table-item sup {
    top: -0.5em;
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

main .multiple-table {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 1.75rem;
}

main .multiple-table .flat-table {
    flex-basis: 100%;
    flex-grow: 1;
    min-width: 0;
    word-break: break-word;
    overflow-wrap: break-word;
}

main .table.text-table.medium {
    max-width: 45rem;
    margin-left: 0;
}

main .table.style-list tr {
    display: table-row;
}

/* Text Table varient */
main .table.text-table h3.table-title {
    text-transform: uppercase;
    border-bottom: 0.1em solid var(--primary);
    font-size: var(--heading-font-size-ms);
    line-height: 2.4em;
    font-weight: var(--font-weight-bold);
    margin-bottom: 0.5em;
}

main .table.text-table .table-item {
    border: none;
    display: block;
}

main .table.text-table .table-item .table-head {
    background: var(--white);
    padding: 0;
}

main .block.left.table.text-table .table-item .table-head {
    text-align: left;
}

main .block.left.table.text-table .table-item .table-head > h3::before {
    content: counter(num);
    background: var(--primary);
    width: 30px;
    border-radius: 30px;
    display: inline-block;
    text-align: center;
    color: var(--white);
    font-size: var(--body-font-size-s);
    font-weight: bold;
    left: 0;
    top: 0;
    line-height: 1.8em;
    padding: 1.5px 0;
    margin-right: 0.25rem;
    vertical-align: middle;
}

main .block.left.table.text-table .table-item .table-head > h3{
    counter-increment: num 1;
    margin-left: 0.25rem;
}

main .table.text-table table {
    text-align: left;
    border-spacing: unset;
    display: block;
}

main .table.text-table table tbody {
    display: block;
}

main .table.text-table table tr {
    display: flex;
    flex-direction: column;
    padding: 1.2rem 0;
    border-bottom: 1px solid var(--transparent-grey-light-color);
}

main .table.text-table table tr td {
    color: var(--text-color);
    flex-basis: calc(100% - 7.5em);
}

main .table.text-table table tr td h4 {
    color: var(--text-color);
    font-size: var(--heading-font-size-ms);
    font-weight: var(--font-weight-bold);
    line-height: 1.7em;
    margin: unset;
}

main .table.text-table table tr td p {
    font-size: var(--body-font-size-s);
    margin: unset;
}

main .table.text-table table tr td a {
    font-size: var(--body-font-size-m);
    line-height: 2rem;
}

main .table.text-table table tr td a .icon {
    margin-left: 0.25em;
    height: 1.5em;
    width: 1.5em;
}

/* stylelint-disable-next-line no-descending-specificity */
main .table.no-vertical-borders table td {
    border-left: unset;
    border-right: unset;
    border-top: unset;
}

main .table.text-align-left table tr td {
    text-align: left;
}

main .table.style-list table tbody td {
    width: unset;
}

main .table.text-table table tr td:first-child {
    color: var(--transparent-grey-color);
    font-size: var(--body-font-size-m);
    line-height: 1.5rem;
}

main .table:not(.text-table, .first-column-color) table tbody tr:first-of-type {
    background: var(--transparent-blue-light-color);
}

main .table.no-head table tbody tr:first-of-type {
    background: unset;
}

main .table.small-first-col table tr td:first-child {
    flex-basis: 10rem;
    flex-grow: 0;
    text-align: center;
}

/* Style list varient */
main .table.style-list span.icon {
    height: 1rem;
    margin-bottom: unset;
    margin-left: unset;
}

main .table.style-list a.button.primary {
    display: block;
    margin-bottom: 0.5rem;
    padding: unset;
    margin-right: 1rem;
    color: var(--secondary);
    background-color: transparent;
    font-weight: var(--font-weight-medium);
    line-height: 1.7em;
    min-width: unset;
    height: unset;
}

main .table.style-list table tbody tr:first-of-type td {
    text-align: center;
}

main .table.style-list table tbody tr td:nth-of-type(3) {
    width: 30%;
}

main .table.style-list table tbody tr td:nth-of-type(4) {
    width: 30%;
}

main .table.first-column-color:not(.text-table) tbody tr td:first-of-type {
    background: var(--transparent-blue-light-color);
}

main .table.block .table-title h4 {
    color: var(--gray-dark);
}

main .table.text-table.with-image table img {
    aspect-ratio: auto 221 / 247;
    height: auto;
}

main .table.text-table.with-image table tr td:first-child {
    text-align: center;
}

main .table.style-list table tbody tr:first-of-type td:first-of-type,
main .table.style-list table tbody tr:first-of-type td:last-of-type {
    padding: 5px;
}

@media (min-width: 62rem) {
    main .multiple-table {
        display: flex;
        flex-flow: row nowrap;
    }

    main .table .table-item {
        display: inline-grid;
        grid-auto-flow: row;
        grid-template-columns: repeat(var(--col), auto);
        grid-template-rows: repeat(var(--row), auto);
    }

    main .table .table-item .table-head {
        text-align: center;
    }

    main .section .table.block p.table-annotation {
        margin-bottom: 2rem;
    }

    main .table.text-table table tr {
        flex-direction: row;
    }

    main .table.text-table table tr td:first-child {
        flex-basis: 7.5em;
    }

    main .table.text-table.with-image table tr {
        gap: 5em;
    }

    main .table.text-table.with-image table tr td {
        flex-basis: calc(100% - 15em);
    }

    main .table.text-table.with-image table tr td:first-child {
        flex-basis: 15em;
    }

    main .table.text-table.with-image table td p {
        line-height: 4em;
    }

}