footer {
  padding: 1rem 1rem 2rem;
  background-color: var(--primary);
  font-size: var(--body-font-size-s);
  overflow: hidden;
}

footer.appear {
  visibility: visible;
}

footer p {
  color: var(--white);
}

footer a:hover {
  text-decoration: underline;
}

footer .footer-top {
  margin-bottom: 1rem;
}

footer .footer-top ul>li {
  display: none;
}

footer td {
  color: var(--white);
  font-weight: var(--font-style-normal);
  padding: 0.5rem 0.25rem;
  text-align: center;
  border: solid 1px var(--white);
}

footer thead td {
  color: var(--primary);
  background: var(--white);
  font-size: 0.9625rem;
}

footer tbody td {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer thead td:not(:first-child) {
  width: 10%;
  border-left: solid 1.5px var(--primary);
}

footer span {
  font-size: 0.825rem;
}

footer table {
  width: 100%;
  margin-bottom: 1.5rem;
  border-collapse: collapse;
  border: solid 1px var(--white);
  height: 100%;
}

footer .footer-social>div>div {
  display: block;
}

footer .footer-social p {
  margin-bottom: 0;
}

footer .footer-social h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: var(--white);
}

footer .footer-social a {
  color: var(--white);
}

footer .footer-social h5 {
  margin-top: 1rem;
}

footer .dentistry .footer-top {
  display: none;
}

footer .footer-social {
  margin-top: 1rem;
}

footer>:not(.dentistry) .footer-top-item:last-of-type {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

footer .footer-top h6 {
  display: none;
}

footer .footer-top a {
  color: var(--white);
}

footer .footer-top-item:last-of-type li {
  margin: 0;
  padding: 0;
  display: block;
  font-size: var(--body-font-size-m);
  margin-bottom: 1.5rem;
}

footer .footer-top h5 {
  font-size: var(--body-font-size-m);
  margin-bottom: 1.5rem;
}

footer .footer-top-item:last-of-type h5 {
  color: var(--white);
  font-weight: var(--font-weight-bold);
}

footer .footer-top ul {
  margin: 0;
  padding: 0;
  margin-bottom: 1.75rem;
}

footer .footer-middle img {
  max-width: 10rem;
  max-height: 1.5rem;
  margin-bottom: 0.5rem;
}

footer .footer-middle {
  margin-bottom: 2rem;
}

footer .footer-middle p {
  font-size: var(--body-font-size-s);
}

footer .footer-middle a {
  color: var(--white);
}

footer .footer-bottom h5>a,
footer .footer-bottom p>a {
  margin-right: 1rem;
  color: var(--white);
}

footer .footer-bottom p {
  font-size: var(--body-font-size-xs);
  line-height: 1;
}

footer .footer-bottom p:last-of-type {
  margin-top: 1rem;
}

footer .dentistry .footer-middle {
  margin-top: 3rem;
}

footer .dentistry .footer-bottom p {
  margin: 0;
}

footer .icon-link-white {
  height: 1.125rem;
  width: 1.125rem;
  background-image: url("../../icons/link-white.svg");
  margin-left: 0.125rem;
  vertical-align: middle;
  margin-bottom: 0.313rem;
}

@media (min-width: 48rem) {
  footer .footer-middle p {
    font-size: var(--body-font-size-m);
  }
}

@media (min-width: 62rem) {
  footer {
    padding-top: 3rem;
  }

  footer .dentistry .footer-top {
    display: block;
  }

  footer .footer.dentistry {
    max-width: calc(54.5rem);
  }

  .footer-social>div>div>div {
    width: calc(100% - 36.375rem);
  }

  footer .footer {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
  }

  footer .footer-top h6 {
    text-transform: uppercase;
    color: #89d1e1;
    display: block;
  }

  footer .footer-top h5 {
    font-weight: var(--font-weight-bold);
  }

  footer .footer-bottom>div>div {
    display: flex;
      justify-content: space-between;
  }

  footer>:not(.dentistry) .footer-top-item:last-of-type {
    margin-top: 0;
  }

  footer .footer-top ul>li {
    margin: 0;
    padding: 0;
    display: block;
    font-size: 0.813rem;
    margin-bottom: 0.625rem;
    line-height: 1.25rem;
  }

  footer .footer-top-item:last-of-type li {
    margin-bottom: 0.625rem;
    font-size: 0.813rem;
  }

  footer .footer-top>div>div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    gap: 2rem;
  }

  footer>:not(.dentistry) .footer-top .footer-top-item {
    width: 10rem;
    min-width: 10rem;
  }

  footer .footer-bottom p:last-of-type {
    margin-top: 0;
  }

  footer table {
    width: 33.75rem;
  }

  footer tbody th {
    font-size: 1.2375rem;
  }

  footer .footer-social>div>div {
    display: flex;
  }

  footer .footer-social>div>div>div {
    margin-left: 42px;
  }
}

@media (min-width: 77rem) {
  footer>:not(.dentistry) .footer-top .footer-top-item {
    width: 12.5rem;
    min-width: 12.5rem;
  }

  footer table {
    width: 41.25rem;
  }

  footer .footer.dentistry {
    max-width: 75rem;
  }

  footer .footer-social>div>div>div {
    width: calc(100% - 702px);
  }

  footer>:not(.dentistry) .footer-top>div>div {
    gap: 3rem;
  }

  footer td {
    font-size: 1rem;
  }
}
